body{
	font-size:1.2em;
	font-weight:bold;
	font-family: "Garamond";
	background-image : url(../images/bg.jpg);
	background-size: contain;
}
#main{
	margin-left: 650px; 
}
#link{
	margin-left: 1050px;
}
#imgcontainer{
	margin-left:10em;
	float :left;
}
#image{
	border-radius: 50%;
	margin-bottom:3em;
	height: 15em;
	width:  15em;
	display:block;
}
a, a:visited{
	font-weight:bold;
	color:#cc0066;	
}
a:hover, a:focus{
	color:#404040;
}
td,th{
	padding: 20px;
}
input{
	height:2em;
	width: 20em;
	 border: 1px solid #70dbdb;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
#error1,#error2,#error3,#error4,#error5,#error6{
	color: red;
	font-size: 1em;
}
#submit,input[type="submit"]{
	position:relative;
	border : none;
	-webkit-border-radius: 28;
 	-moz-border-radius: 28;
 	border-radius: 28px;
 	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	background-color: #ff3333;
		font-family: "Garamond";
		width:100px;
}
#submit:hover, input[type="submit"]:hover{
	position:relative;
			border : none;
	-webkit-border-radius: 28;
 	-moz-border-radius: 28;
 	border-radius: 28px;
 	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	background-color: #00e6ac;
		font-family: "Garamond";
		width:100px;
}
#announcement{
	margin-left:650px;
	margin-top:250px;
}
#allslots{
	margin-top : 70px;
	margin-left: 500px;
}
#all:nth-child(even) {
	background-color: #70dbdb;
}
#all:nth-child(odd) {
	background-color: #c2f0f0;
}
#studenttable td{
	padding: 2px;
	font-size: 0.7em;
}
